/vendor
/node_modules
.env
/public/storage
/storage
/bootstrap/cache

.DS_Store
._*
Thumbs.db

*.zip
*.sql
*.log
error_log

/public/uploads
/public/upload
/public/Uploads
/public/images/profile_images
/public/video
/public/document
/public/download
