.panel.panel-default {
  background: rgba(0, 28, 50, 0.45);
  padding: 20px;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;

  line-height: 1.6;
  color: #fff;
  letter-spacing: 1px;
  background-repeat: no-repeat !important;
  background-position: 98% 48% !important;
  background-size: 8% !important;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #fff;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.panel-footer {
  padding: unset;
  background-color: unset;
  border: unset;
}

.c-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.form-group {
  padding: 5px 0;
}

label {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 800;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

@media (min-width: 992px) {
  .col-md-5 {
    width: 39.666667%;
  }

  .col-md-7 {
    width: 60.333333%;
  }
}

input,
select {
  font-size: 12px;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.fullscreen-bg__video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



.form-control:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #60a5fa;
  outline: 0;
}

/* Select2 Dropdown Styling for Login Modal */
.select2-container--default .select2-selection--single {
  background: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 10px !important;
  height: 48px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white !important;
  line-height: 46px !important;
  padding-left: 15px !important;
  font-size: 0.95rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px !important;
  right: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: white transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent white transparent !important;
}

/* Select2 dropdown list styling */
.select2-dropdown {
  background-color: #2d3748 !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 10px !important;
}

.select2-container--default .select2-results__option {
  color: white !important;
  padding: 10px 15px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3b82f6 !important;
  color: white !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #1e40af !important;
}

.select2-search--dropdown .select2-search__field {
  background: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: white !important;
  border-radius: 5px !important;
}

.l-checkbox {
  display: flex;
}

.c-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.c-checkbox input[type=checkbox] {
  position: relative;
  opacity: 0;
  z-index: 1;
  height: 25px;
  width: 25px;
  margin: 0;
}

.c-checkbox input[type=checkbox]:checked+.check_mark {
  border: 2px solid #fff;
}

.c-checkbox input[type=checkbox]:checked+.check_mark:after {
  display: block;
}

.c-checkbox .check_mark {
  height: 15px;
  width: 15px;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
}

.c-checkbox .check_mark:after {
  display: none;
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  top: 1px;
  left: 4px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.c-checkbox label {
  font-size: 12px;
  padding: 6px;
  margin-bottom: 0;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: red;

}

.login-block {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}

.banner-sec {
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.login-sec {
  padding: 45px 30px;
  position: relative;
}

.player-overlay .img-responsive {
  margin: 0 auto;
}

.panel-default>.panel-heading {
  padding: unset;
  text-align: -webkit-center;
  background: unset;
  border: unset;

}

.panel-heading {
  /* padding: 10px 15px; */
  /* border-bottom: 1px solid transparent; */
  /* border-top-left-radius: 0px; */
  /* border-top-right-radius: 0px; */
}

@media only screen and (max-width:420px) {
  video {
    width: 100%;
    height: auto;
  }
}

/* Login Modal Footer Styling */
.modal-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.9;
  padding-bottom: 5px;
  width: 100%;
  color: #333;
}

.powered-by {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 5px;
  width: 100%;
  color: #333;
}

.powered-by span {
  color: #333;
}

.tech-name {
  font-weight: 600;
  white-space: nowrap;
  color: #333;
}

.tech-logo {
  width: 32px;
  height: 28px;
  flex-shrink: 0;
}

.copyright {
  font-size: 0.75rem;
  opacity: 0.8;
  color: #333;
}