
/* --------- date picker --------- */
.date-picker {
	position: absolute;
    border: 1px solid #444;
    padding: 4px;
    margin: 6px -179px;
    z-index: 999;
    background: #fff;
    border-radius: 2px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}
.date-picker:before {
	content: "";
    display: block;
    position: absolute;
    top: -9px;
    right: 8px;
    border: 8px solid #444;
    border-width: 0px 8px 8px;
    border-color: transparent transparent #444;
}
.date-picker:after {
	content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 8px;
    border: 8px solid #222;
    border-width: 0px 8px 8px;
    border-color: transparent transparent #333;
}

.date-picker .cal-month {
	margin: 3px 0 0;
}


/* ---------- header footer ---------- */
.dp-title, .dp-footer {
	text-align: center;
    border-bottom: 1px solid #33aff0;
    /* margin-bottom: 3px; */
    padding: 5px;
    cursor: default;
    background: #33aff0;
    border-radius: 2px 2px 0 0;
}
.dp-title {
	min-width: 180px;
}
.dp-label {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0 2px -5px;
}
.dp-title select {
	cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    /*top: 5px;*/
    filter: alpha(opacity=0);
    opacity: 0;
    display: inline-block;
}
.dp-prev, .dp-next {
	display: block;
    cursor: pointer;
    position: relative;
    outline: none;

	padding: 0;
    width: 20px;
    height: 22px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    border: none;

    margin: 0 -3px;

    opacity: .5;
	float: left;
}
.dp-prev:after, .dp-next:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	margin: -6px;

	border: 6px solid #fff;
}
.dp-prev[disabled]:after, .dp-next[disabled]:after {
	border-color: transparent;
}

.dp-prev:after {
	border-color: transparent #fff transparent transparent;
}

.dp-next:after {
	border-color: transparent transparent transparent #fff;
}

.dp-prev:hover, .dp-next:hover {
	opacity: 1;
}
.dp-next {
	float: right;
}
.dp-label-month {
	/*font-weight: bold;*/
}
.dp-label-year {
	color: #fff;
}

/* ---------------------- */
.dp-footer {
	margin: 0;
    border-radius: 0 0 2px 2px;
}
.dp-footer .dp-label {
	/*margin: 0;*/
}
.dp-footer select {
	cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    opacity: 0;
    display: inline-block;
}

.partner {
	border: 1px solid red;
}

.cal-wrapper {
	width: 855px;
	margin: 0 auto;
	position: relative;
}
.cal-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.cal-box {
	float: left;
	position: relative;
}
.month {
	margin: 17px 37px 10px;
	font-size: 20px;
}
.cal-month {
	border-collapse: collapse;
	margin: 0 12px 12px 0;
}
.week-day {
	font-weight: normal;
	border-bottom: 1px solid #666;
	color: #777;
}
.previous-month, .next-month, .current-month, .week-no {
	color:#000;
	position: relative;
	text-align: center;
	padding: 5px 7px;
	cursor: default;
	font-size-adjust:0.455;
}
.previous-month:hover:before,
.next-month:hover:before,
.current-month:hover:before,
.current-month.today:after,
.event:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px;
	width: 28px;
	height: 28px;
	box-sizing: border-box;

	background-color:#9baff1;
	border-radius: 50%;
	z-index: -1;
}
.selected-day:before,
.previous-month:active:before,
.next-month:active:before,
.current-month:active:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px;
	width: 28px;
	height: 28px;
	box-sizing: border-box;

	border: 1px solid #9baff1;
	border-radius: 50%;
	z-index: -1;
}

.cal-month td {
	z-index: 0;
}

.previous-month, .next-month {
	color: #444;
}
.week-no {
	color: #C44;
	border-right: 1px solid #666;
	width: 30px;
	padding: 4px 0;
}

.current-month.today:after {
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: transparent;
}

.previous-month.week-end, .next-month.week-end {
	color: #422;
}

.week-end, .week-day.week-end {
	color: #633;
}
.event {
	color: #C44!important;
}
.previous-month.event:before, .next-month.event:before {
	background-color: #322;
}
.disabled  {
	color: #111!important;
}
.brown  {
	color: #7d3008;
}
.green  {
	/*color: #1a1!important;*/
}
.disabled-2, .disabled-3  {
	/*color: #C00!important;*/
}
.current-month .today-icon, .current-month .count-icon {
	    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: -3px;
    border: 1px solid #33aff0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 11px;
    background-color: #33aff0;
    color: #fff;
}
.count-icon {
 	display: none;
 }
.today-icon {
	display: none;
	right: auto;
	left: 0;
}

/* ----- month.js ------ */
.month-cal {
	margin: 54px auto;
}
.month-cal .cal-month {
	width: 855px;
	font-size: 13px;
}
.month-cal .current-month, .month-cal .previous-month, .month-cal .next-month {
	height: 100px;
	text-align: left;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.05);
	border-left: 1px solid #444;
	border-bottom: 1px solid #444;
}

.month-cal .current-month:before, .month-cal .previous-month:before, .month-cal .next-month:before {
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
	border-radius: 0;
	margin: 0;
}

.month-cal .week-no {
	text-align: left;
	vertical-align: top;
	/*padding: 6px 3px 0 0;*/
}

.single-event {
	display: block;
	width: 107px;
	height: 1.6em;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: rgba(255, 255, 255, 0.05);
	margin: 2px 0;
	padding: 0 4px;
	box-sizing: border-box;
	border: 1px solid transparent;
	color: #aaa;
}
.month-cal .single-event:active {
	border: 1px solid #C44;
}
.month-cal .previous-month:active:before,
.month-cal .next-month:active:before,
.month-cal .current-month:active:before {
	border: 1px solid transparent;
}


/* week box */
.cal-w-box {
	/*float: left;*/
	position: relative;
	height: 120px;
	width: 100%;
	margin-top: 30px;
}
.cal-w-box .cal-month {
	width: 100%;
}
.cal-w-box .cal-month tr {
	border-bottom: 1px solid #555;
}
.cal-w-box .event:before {
	display: none;
}
.cal-w-box .event {
	color: inherit!important;
}
.cal-w-box .w-week-end {
	color: #633!important;
}
.w-previous-month, .w-next-month, .w-current-month {
	position: relative;
	text-align: center;
	padding: 4px 8px;
	cursor: default;
	width: calc(100% / 8);
}
.day-hours {
	background-color: rgba(255, 255, 255, 0.05);
	border-left: 1px solid #555;
}
.whole-day {
	background-color: rgba(255, 255, 255, 0.1);
	border-left: 1px solid #555;
	padding: 0 4px 4px;
	vertical-align: top;
}
.day-hours {
	height: 470px;
	width: 12.5%;
	padding: 4px;
	vertical-align: top;

    background-image:linear-gradient(to bottom, #222 1px, transparent 1px);
  	background-size: 1px 60px;
  	background-position: 0 -1px;
}
.day-hours-wrapper {
/*	display: flex;
	justify-content: space-between;
*/	position: relative;
	margin-left: -4px;
}
.day-expl, .day-times {
	padding: 4px;
	vertical-align: top;
	text-align: right;
}
.day-times {
	padding-top: 27px;
}
.day-event {
	width: 105px;
	padding: 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 4px;
	font-size: 13px;
}
.time-event {
	box-sizing: border-box;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 4px;
	width: 100%;
	margin-top: -5px;
	line-height: 16px;
	overflow: hidden;
	font-size: 13px;
	border-top: 1px solid #333;
}

.slot {
    height:30px;
    width: 80px;
    font-weight:bold;
    text-align:right;
    line-height:0;
}

.slot span {
    font-size:12px;
    color:#777;
    padding:2px 0;
}
.now {
	position: absolute;
	width: 100%;
	border-top: 1px solid rgba(204, 0, 0, .5);
}
